@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Muli/Muli-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Muli/Muli-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Muli/Muli-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Muli/Muli-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Muli/Muli-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Muli/Muli-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Muli/Muli-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Trirong";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Trirong/Trirong-Light.ttf") format("truetype"); }

/* font-styles */
/* colors */
/** {
  outline: 1px solid red;
}*/
html {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  font-size: 10px;
  line-height: 15px;
  font-weight: 300;
  color: #595666;
  font-family: "Muli"; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1,
h2,
h3,
h4 {
  margin: 0; }

p {
  margin: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

input,
textarea {
  box-sizing: border-box; }

@media (min-width: 1600px) {
  body {
    font-size: 16px;
    line-height: 28px; } }

.container {
  margin: 0 auto;
  width: 320px; }

@media (min-width: 1600px) {
  .container {
    width: 1600px; } }

.title {
  font-size: 30px;
  line-height: 35px;
  font-weight: 300;
  font-family: "Trirong"; }

.title__secondary {
  font-size: 26px;
  line-height: 50px;
  font-weight: 300;
  font-family: "Trirong"; }

.title__third {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  font-family: "Trirong";
  font-weight: 300; }

@media (min-width: 1600px) {
  .title {
    font-size: 60px;
    line-height: 72px;
    font-weight: 300;
    font-family: "Trirong"; }
  .title__secondary {
    font-size: 40px;
    line-height: 76px;
    font-weight: 300;
    font-family: "Trirong"; }
  .title__third {
    font-size: 26px;
    line-height: 38px;
    font-weight: 300;
    font-family: "Trirong";
    font-weight: 300; } }

.btn {
  display: block;
  color: inherit;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 3px;
  width: 110px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: #2b2d5c;
  border-radius: 30px;
  background-color: #f2c200; }

@media (min-width: 1600px) {
  .btn {
    display: block;
    color: inherit;
    text-decoration: none;
    padding-top: 23px;
    padding-bottom: 21px;
    width: 220px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    border-radius: 30px;
    background-color: #f2c200; } }

.social-block__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row; }

.social-block__item {
  margin-left: 9px; }
  .social-block__item:first-of-type {
    margin-left: 0; }

.social-block__link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 0;
  width: 18px;
  height: 18px; }
  .social-block__link--facebook {
    width: 11px; }

.social-block__link svg {
  width: 18px;
  height: 18px;
  fill: #ffffff; }

@media (min-width: 1600px) {
  .social-block__item {
    margin-left: 20px; }
    .social-block__item:first-of-type {
      margin-left: 0; }
  .social-block__link {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 0;
    width: 23px;
    height: 23px; }
  .social-block__link svg {
    width: 23px;
    height: 23px; } }

.main-header {
  position: relative;
  padding: 15px 20px;
  color: #ffffff;
  background-color: #2b2d5c;
  background-image: url("../img/background-header-320.jpg");
  background-repeat: no-repeat;
  background-size: 479px 245px;
  background-position: -50px -3px; }

.main-header__block-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.main-header__logo {
  display: flex;
  flex-direction: row;
  align-items: baseline; }

.main-header__logo p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase; }

.main-header__logo svg {
  margin-right: 6px;
  width: 16px;
  height: 16px;
  fill: #ffffff; }

.main-header__title {
  display: none; }

.main-header__title--mobile {
  display: block; }

.main-header__greeting {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #595666;
  font-family: "Muli";
  display: none;
  margin-bottom: 29px;
  font-weight: 400;
  letter-spacing: 0.1px; }

.main-header__greeting--mobile {
  display: block; }

.main-header__social-block {
  display: grid;
  margin-left: auto; }

.main-header__social-block .social-block__list {
  justify-content: flex-end; }

.main-header__btn {
  margin-bottom: 15px;
  text-transform: capitalize; }

@media (min-width: 1600px) {
  .main-header {
    padding-top: 66px;
    padding-left: 216px;
    padding-right: 100px;
    padding-bottom: 33px;
    background-image: url("../img/background-header-1600.jpg");
    background-size: 1772px 907px;
    background-position: 0 -7px; }
  .main-header__logo p {
    font-size: 20px;
    line-height: 32px; }
  .main-header__logo svg {
    margin-right: 9px;
    width: 26px;
    height: 26px; }
  .main-header__title {
    margin-top: 270px;
    margin-bottom: 38px; }
  .main-header__greeting {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    color: #595666;
    font-family: "Muli";
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.1px; }
  .main-header__btn {
    margin-bottom: 196px;
    font-size: 16px; } }

.about__illustration {
  display: none; }

.about__content-wrap {
  background-color: #f7f7fc;
  padding: 44px 30px; }

.about__title {
  margin-bottom: 8px;
  text-align: center;
  color: #2b2d5c; }

.about__text {
  margin-bottom: 20px;
  text-align: center; }

.about__btn {
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 8px;
  padding-bottom: 7px;
  width: 80%;
  color: #fefeff;
  text-transform: uppercase;
  font-family: "Muli";
  background-color: #2b2d5c; }

@media (min-width: 1600px) {
  .about {
    position: relative;
    padding-bottom: 149px; }
  .about__illustration {
    display: block;
    position: absolute;
    top: 99px;
    left: 0;
    width: 515px;
    height: 730px; }
  .about__content-wrap {
    padding-top: 154px;
    padding-left: 651px;
    padding-right: 215px;
    padding-bottom: 50px; }
  .about__title {
    margin-bottom: 30px; }
  .about__text {
    margin-bottom: 39px;
    text-align: left; }
  .about__btn {
    width: 284px;
    font-size: 14px;
    font-weight: 400; } }

.activities__title {
  margin-bottom: 8px;
  text-align: center;
  color: #2b2d5c; }

.activities__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.activities__link {
  display: block;
  color: inherit;
  text-decoration: none;
  position: relative; }

.activities__link-title {
  margin-bottom: 3px;
  line-height: 20px;
  text-transform: uppercase; }

.activities__description {
  display: none; }

@media (min-width: 1600px) {
  .activities {
    margin-bottom: 59px; }
  .activities__title {
    margin-bottom: 38px;
    text-align: left; }
  .activities__item {
    margin-right: 172px; }
    .activities__item:last-of-type {
      margin-right: 0; }
  .activities__link-title {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 38px; }
  .activities__description--shown {
    position: absolute;
    left: 76px;
    top: 39px;
    width: 200px;
    background-color: transparent; } }

.banners {
  padding-top: 25px;
  padding-bottom: 40px; }

.banners__title {
  margin-bottom: 20px;
  text-align: center;
  color: #2b2d5c; }

.banners__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #2b2d5c;
  background-image: url(../img/banners-background-320.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 458px 85px; }

.banners__item {
  display: none; }

.banners__item--shown {
  display: block; }

.banners__link {
  display: block;
  color: inherit;
  text-decoration: none; }

@media (min-width: 1600px) {
  .banners {
    padding-top: 70px;
    padding-bottom: 83px;
    color: #ffffff;
    background-color: #2b2d5c;
    background-image: url(../img/banners-background-1600.png);
    background-repeat: no-repeat;
    background-size: 1600px 297px; }
  .banners__title {
    margin-bottom: 52px;
    color: #ffffff; }
  .banners__list {
    padding: 0;
    background-image: none;
    background-color: transparent; }
  .banners__item {
    display: block; } }

.blog {
  display: grid;
  background-color: #f7f7fc; }

.blog__title {
  text-align: center;
  color: #2b2d5c; }

.blog__text {
  text-align: center;
  color: #2b2d5c; }

.blog__article {
  background-color: #ffffff; }

.blog__article-title {
  color: #2b2d5c; }

.blog__article-date {
  color: #2b2d5c; }

.blog__article-date span {
  font-weight: 500; }

.blog__article-link {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  line-height: 32px; }
  .blog__article-link::before {
    content: "";
    display: block;
    position: absolute;
    width: 96px;
    height: 11px;
    background-color: #ffcc00;
    bottom: 5px;
    left: 0;
    opacity: 0.6; }

@media (min-width: 1600px) {
  .blog {
    position: relative;
    grid-template-columns: auto 470px auto;
    grid-template-rows: auto;
    grid-column-gap: 50px;
    padding: 66px 64px;
    padding-bottom: 154px; }
  .blog__content-wrap {
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: start;
    justify-self: center; }
  .blog__title {
    margin-bottom: 43px;
    line-height: 38px; }
  .blog__article {
    width: 450px; }
  .blog__article:first-of-type {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: start;
    alig-self: start; }
  .blog__article:nth-of-type(2) {
    position: absolute;
    top: 314px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 0 80px 2px rgba(43, 46, 102, 0.2); }
  .blog__article:nth-of-type(3) {
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: end;
    align-self: start; }
  .blog__article-content-wrap {
    padding: 28px 33px;
    padding-bottom: 68px; }
  .blog__article-title {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600; }
  .blog__article-date {
    font-size: 15px;
    line-height: 28px; }
  .blog__article-link {
    margin-top: 25px; } }

.contact-form {
  padding-top: 40px; }

.contact-form__form {
  background-color: #2b2d5c;
  text-align: center; }

.contact-form__title {
  text-align: center;
  color: #ffffff; }

.contact-form__field-wrap {
  position: relative; }

.contact-form label {
  position: absolute;
  left: 27px;
  top: 0px;
  color: #2b2d5c;
  font-weight: 500; }

.contact-form input,
.contact-form textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #2b2d5c;
  border: none;
  background-color: rgba(255, 255, 255, 0.65); }

.contact-form .contact-form__btn {
  margin: 0 auto;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #ffcc00;
  color: #2b2d5c; }

@media (min-width: 1600px) {
  .contact-form {
    padding-top: 190px; }
  .contact-form__form {
    padding-top: 62px;
    padding-bottom: 73px; }
  .contact-form__title {
    margin-bottom: 50px; }
  .contact-form__field-wrap {
    margin: 0 auto;
    margin-bottom: 26px;
    width: 500px;
    height: 45px; }
  .contact-form__field-wrap--textarea {
    height: 88px; }
  .contact-form input,
  .contact-form textarea {
    padding-left: 27px;
    padding-top: 7px;
    font-size: 15px;
    line-height: 35px;
    font-weight: 400; }
  .contact-form label {
    font-size: 15px;
    line-height: 35px; }
  .contact-form .contact-form__btn {
    margin-top: 34px;
    width: 200px;
    font-size: 15px;
    line-height: 35px; } }

.footer-blog-preview__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 30px; }

.footer-blog-preview__link {
  display: block;
  color: inherit;
  text-decoration: none;
  display: grid;
  grid-template-columns: 70px 265px;
  grid-column-gap: 29px;
  line-height: 20px; }

.footer-blog-preview__text {
  margin-bottom: 13px; }

.footer-blog-preview__date {
  font-size: 14px;
  line-height: 28px; }

.footer-blog-preview__date span {
  font-weight: 400; }

.footer-blog-preview__link-to-blog {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-left: 99px;
  margin-top: 26px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase; }

@media (min-width: 1600px) {
  .footer-blog-preview__title {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 50px;
    font-weight: 300;
    font-family: "Muli"; } }

.footer-nav__title {
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: 300;
  line-height: 50px;
  font-family: "Muli"; }

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.footer-nav__link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; }

.gallery__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 110px 201px;
  grid-template-rows: 70px 70px 67px;
  grid-column-gap: 9px;
  grid-row-gap: 9px; }

.gallery__item {
  position: relative; }
  .gallery__item:first-of-type {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: -2; }
  .gallery__item:nth-of-type(2) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1; }
  .gallery__item:nth-of-type(3) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: end; }
  .gallery__item:nth-of-type(4) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 2; }
  .gallery__item:nth-of-type(5) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: end; }
  .gallery__item:nth-of-type(6) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: -1;
    align-self: end; }
  .gallery__item:nth-of-type(7) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: -1;
    align-self: end; }

.gallery__link {
  display: block;
  color: inherit;
  text-decoration: none; }

.gallery__social-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.gallery__social-block svg {
  fill: #ffcc00; }

@media (min-width: 1600px) {
  .gallery {
    grid-column-start: -1;
    grid-column-end: -1; }
  .gallery__list {
    grid-template-columns: 370px 670px;
    grid-template-rows: auto auto auto;
    grid-column-gap: 29px; } }

.instagram-update {
  width: 200px; }

.instagram-update__title {
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 300;
  font-family: "Muli"; }

.instagram-update__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  grid-row-gap: 10px;
  justify-content: space-between; }

.instagram-update__item:first-of-type {
  grid-column-start: 1;
  grid-column-end: -2;
  grid-row-start: 1;
  grid-row-end: -2;
  justify-self: start; }

.instagram-update__item:nth-of-type(2) {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: end; }

.instagram-update__item:nth-of-type(3) {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-self: end; }

.instagram-update__item:nth-of-type(4) {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: -1;
  justify-self: start; }

.instagram-update__item:nth-of-type(5) {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: -1;
  justify-self: center; }

.instagram-update__item:nth-of-type(6) {
  grid-column-start: 3;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: -1;
  justify-self: end; }

.instagram-update__link {
  display: block;
  color: inherit;
  text-decoration: none; }

.main-nav__toggler {
  position: relative;
  width: 30px;
  height: 14px; }

.main-nav__toggler-element {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff; }
  .main-nav__toggler-element::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    top: 6px;
    left: 0; }
  .main-nav__toggler-element::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    top: 12px;
    left: 0; }

.main-nav__list {
  display: none; }

.main-nav__list--shown {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

.main-nav__link {
  display: block;
  color: inherit;
  text-decoration: none; }

@media (min-width: 1600px) {
  .main-nav {
    margin-left: auto;
    margin-right: 115px; }
  .main-nav__list {
    flex-direction: row; }
  .main-nav__link {
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px; }
  .main-nav__link--active {
    position: relative; }
    .main-nav__link--active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #ffcc00; } }

.portfolio {
  display: grid;
  padding-bottom: 40px;
  color: #2b2d5c; }

.portfolio__content-wrap {
  margin-bottom: 20px;
  padding: 30px;
  padding-bottom: 20px;
  background-color: #f2c200; }

.portfolio__title {
  text-align: center; }

.portfolio__text {
  display: none; }

.portfolio__text--mobile {
  display: block; }

.portfolio__link {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-top: 5px;
  font-weight: 500;
  line-height: 22px; }

.portfolio__btn {
  margin: 0 auto;
  margin-top: 20px;
  color: #f2c200;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #f2c200;
  border-radius: 26px; }

@media (min-width: 1600px) {
  .portfolio {
    grid-template-columns: 485px auto;
    grid-template-rows: auto;
    padding-top: 100px; }
  .portfolio__content-wrap {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-top: 206px;
    padding-left: 78px;
    padding-right: 69px; }
  .portfolio__title {
    margin-bottom: 74px;
    text-align: left;
    line-height: 38px;
    font-weight: 400; }
  .portfolio__text {
    display: block; }
  .portfolio__text--mobile {
    display: none; }
  .portfolio__link {
    margin-top: 38px;
    line-height: 38px; }
  .portfolio__btn {
    padding-top: 19px;
    padding-bottom: 18px;
    width: 217px;
    line-height: 38px;
    font-weight: 400; } }

.main-footer {
  color: #ffffff;
  background-color: #2b2d5c; }

.main-footer__logo {
  display: flex;
  flex-direction: row;
  align-items: baseline; }

.main-footer__logo svg {
  margin-right: 9px;
  width: 26px;
  height: 26px;
  fill: #ffffff; }

.main-footer__logo p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase; }

@media (min-width: 1600px) {
  .main-footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 33px;
    justify-content: space-between;
    padding-top: 95px;
    padding-bottom: 20px;
    padding-left: 215px;
    padding-right: 215px; }
  .main-footer__logo {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: start;
    margin-bottom: 39px; }
  .main-footer__contact {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: end; }
  .main-footer__contact-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px; }
  .main-footer__contact-text {
    font-size: 14px;
    line-height: 22px; }
  .main-footer__social-block {
    margin-top: 43px; }
  .main-footer__contact-title--social {
    margin-bottom: 10px;
    line-height: 22px; }
  .main-footer__blog-preview {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1; }
  .main-footer__copyright {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: -1;
    padding-top: 24px;
    justify-self: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    opacity: 0.25; } }
