/* font-styles */

$base-font-size: 16px;
$base-line-height: 28px;
$base-font-weight: 300;
$base-font-family: "Muli";
$header-font-family: "Trirong";

/* colors */

$text-on-white: #595666;
$white: #ffffff;
$black: #000000;
$background-color: #f7f7fc;
$background-decor: #2b2d5c;
$yellow: #f2c200;
