.activities__title {
	margin-bottom: 8px;
	text-align: center;
	color: $background-decor;
}

.activities__list {
	@include list-style;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.activities__link {
	@include link-style;
	position: relative;
}

.activities__link-title {
	margin-bottom: 3px;
	line-height: 20px;
	text-transform: uppercase;
}

.activities__description {
	display: none;
}

@media (min-width: 768px) {
	.activities__title {
		text-align: left;
	}
}

@media (min-width: 1000px) {
	.activities__title {
		margin-bottom: 12px;
	}
}

@media (min-width: 1600px) {
	.activities {
		margin-bottom: 59px;
	}

	.activities__title {
		margin-bottom: 15px;
    text-align: left;
	}
  
  .activities__item {
  	margin-right: 172px;

  	&:last-of-type {
  		margin-right: 0;
  	}
  }

  .activities__link-title {
  	margin-bottom: 8px;
  	font-size: 16px;
  	line-height: 38px;
  }

  .activities__description--shown {
  	position: absolute;
  	left: 76px;
  	top: 39px;
  	width: 200px;
  	background-color: transparent;
  }
}
