.banners {
	padding-top: 25px;
	padding-bottom: 40px;
}

.banners__title {
	margin-bottom: 20px;
	text-align: center;
	color: $background-decor;
}

.banners__list {
	@include list-style;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: $background-decor;
	background-image: url(../img/banners-background-320.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 458px 85px;
}

.banners__item {
	display: none;
}

.banners__item--shown {
	display: block;
}

.banners__link {
	@include link-style;
}

@media (min-width: 1600px) {
	.banners {
		padding-top: 70px;
		padding-bottom: 83px;
		color: $white;
	  background-color: $background-decor;
		background-image: url(../img/banners-background-1600.png);
		background-repeat: no-repeat;
		background-size: 1600px 297px;
	}

	.banners__title {
		margin-bottom: 52px;
		color: $white;
	}

	.banners__list {
		padding: 0;
		background-image: none;
		background-color: transparent;
	}

	.banners__item {
		display: block;
	}
}
