.banners {
	color: $white;
	background-color: $background-decor;
}

.banners__title {
	text-align: center;
}

.banners__list {
	@include list-style;
	display: flex;
}

.banners__link {
	@include link-style;
}

@media (min-width: 1600px) {
	.banners {
		padding-top: 70px;
		padding-bottom: 83px;
		background-image: url(../img/banners-background-1600.png);
	}

	.banners__title {
		margin-bottom: 52px;
	}

	.banners__list {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}
