.blog {
  position: relative;
  display: grid;
  justify-content: center;
	padding: 30px;
	padding-bottom: 60px;
	background-color: $background-color;
}

.blog__decor-white-frame {
  position: absolute;
  bottom: 30px;
  right: 50px;
  width: 300px;
  height: 430px;
  border: 2px solid $white;
  background-color: transparent;
  z-index: 0;
}

.blog__control-block {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -10%);
  z-index: 20;
}

.blog__title {
	margin-bottom: 20px;
	text-align: center;
	color: $background-decor;
}

.blog__text {
	display: none;
	text-align: center;
	color: $background-decor;
}

.blog__articles-list {
  @include list-style;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
}

.blog__articles-item {
  display: none;
}

.blog__article {
	
	width: 260px;
	background-color: $white;
}

.blog__articles-item--shown {
	display: block;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
	box-shadow: 0 0 80px 2px rgba(43, 46, 102, 0.2);
  z-index: 10;
}

.blog__article-content-wrap {
	padding: 18px 25px;
	padding-bottom: 30px;
}

.blog__article-title {
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 22px;
	font-weight: 500;
	color: $background-decor;
}

.blog__article-date {
	margin-bottom: 5px;
	font-size: 9px;
	color: $background-decor;
}

.blog__article-date span {
	font-weight: 500;
}

.blog__article-link {
	position: relative;
	@include link-style;
	font-weight: 500;
	line-height: 32px;

	&::before {
		@include element-style(96px, 8px, #ffcc00);
		bottom: 9px;
		left: 0;
		opacity: 0.5;
	}
}

@media (min-width: 768px) {
	.blog {
		padding: 40px 50px;
		padding-bottom: 45px;
	}

  .blog__decor-white-frame {
    top: 205px;
    right: 20px;
    width: 380px;
    height: 430px;
    border: 3px solid $white;
  }

  .blog__control-block {
    display: none;
  }

  .blog__content-wrap {
    margin-bottom: 35px;
  }

	.blog__title {
	  margin-bottom: 10px;
	}

	.blog__text {
	  display: block;
	  padding: 0 70px;
	}

  .blog__articles-list {
    position: relative;
    grid-template-columns: 668px;
  }

	.blog__articles-item {
    display: block;
		position: relative;
		width: 280px;

		&::before {
			@include element-style(100%, 100%, rgba(255, 255, 255, 0.6));
			top: 0;
			left: 0;
		}

		&:first-of-type {
			grid-column-start: 1;
  	  grid-column-end: -1;
      grid-row-start: 1;
      grid-row-end: 1;
			justify-self: start;
		}

		&:nth-of-type(2) {
			position: absolute;
			top: 70px;
			left: 50%;
      transform: translate(-50%);
      box-shadow: 0 0 80px 2px rgba(43, 46, 102, 0.2);
			z-index: 20;
		}

		&:nth-of-type(3) {
			grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 1;
      grid-row-end: 1;
			justify-self: end;
		}
	}

  .blog__article {
    width: 280px;
  }

  .blog__articles-item--shown {
    box-shadow: none;
  }

	.blog__articles-item--active {
  	box-shadow: 0 0 80px 2px rgba(43, 46, 102, 0.2);
  	z-index: 50;

  	&::before {
  		display: none;
  	}
	}
}

@media (min-width: 1000px) {
  .blog {
    padding: 60px;
    padding-bottom: 76px;
  }

  .blog__decor-white-frame {
    top: 100px;
    right: 30px;
    width: 615px;
    height: 430px;
  }

  .blog__content-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    padding: 60px 25px;
    width: 280px;
    transform: translate(-50%);
  }

  .blog__text {
    padding: 0;
  }

  .blog__articles-list {
    grid-template-columns: 880px;
  }

  .blog__articles-item {

    &::before {
      display: none;
    }
  }

  .blog__articles-item:nth-of-type(2) {
    top: 150px;
  }

  .blog__articles-item--active {
    box-shadow: none;
  }

  .blog__articles-item:hover {
    box-shadow: 0 0 80px 2px rgba(43, 46, 102, 0.2);
  }
}

@media (min-width: 1600px) {
  .blog {
  	padding: 70px 64px;
  	padding-bottom: 154px;
  }

  .blog__decor-white-frame {
    top: 127px;
    right: 0;
    width: 1054px;
    height: 642px;
    border-right: none;
  }

  .blog__article-content-wrap {
    padding: 21px 33px;
    padding-bottom: 68px;
  }

  .blog__content-wrap {
    padding: 70px 50px;
    padding-bottom: 0;
    width: 472px;
  }

  .blog__title {
  	margin-bottom: 43px;
  	line-height: 24px;
  }

  .blog__text {
  	padding: 0;
  	font-size: 20px;
  	line-height: 34px;
  }
  
  .blog__articles-list {
    grid-template-columns: 1472px;
  }

  .blog__articles-item {
    width: 450px;
  }

  .blog__article {
    width: 450px;
  }

  .blog__articles-item:nth-of-type(2) {
    top: 245px;
  }

  .blog__article-title {
  	margin-bottom: 15px;
  	font-size: 20px;
  	line-height: 30px;
  	font-weight: 600;
  }

  .blog__article-date {
  	margin-bottom: 10px;
    font-size: 15px;
    line-height: 28px;
  }

  .blog__article-link {
  	margin-top: 12px;

  	&::before {
			@include element-style(96px, 11px, #ffcc00);
			bottom: 5px;
		}
  }
}
