.footer-blog-preview {
	display: none;
}

@media (min-width: 1000px) {
	.footer-blog-preview__title {
		margin-bottom: 14px;
		font-size: 18px;
		line-height: 26px;
		font-family: "Muli";
		font-weight: 300;
	}

	.footer-blog-preview__list {
		display: grid;
	  grid-template-rows: auto auto;
		@include list-style;
    grid-row-gap: 20px;
	}

	.footer-blog-preview__link {
		@include link-style;
		display: grid;
		grid-template-columns: 70px 225px;
		grid-column-gap: 19px;
		line-height: 20px;
	}

	.footer-blog-preview__date span {
		font-weight: 400;
	}

	.footer-blog-preview__link-to-blog {
		@include link-style;
		margin-left: 90px;
		margin-top: 10px;
		text-transform: uppercase;
	}
}

@media (min-width: 1600px) {
	.footer-blog-preview__title {
		margin-bottom: 24px;
		font-size: 24px;
		line-height: 50px;
		font-weight: 300;
		font-family: "Muli";
	}

	.footer-blog-preview__list {
    grid-row-gap: 30px;
	}

	.footer-blog-preview__link {
		grid-template-columns: 70px 265px;
		grid-column-gap: 29px;
	}

	.footer-blog-preview__text {
		margin-bottom: 13px;
	}

	.footer-blog-preview__date {
		font-size: 14px;
		line-height: 28px;
	}

	.footer-blog-preview__link-to-blog {
		margin-left: 99px;
		margin-top: 26px;
		font-weight: 400;
		line-height: 26px;
	}
}