.gallery {
	justify-self: center;
}

.gallery__list {
	@include list-style;
	display: grid;
	grid-template-columns: 110px 201px;
	grid-template-rows: 70px 70px 67px;
	grid-column-gap: 9px;
	grid-row-gap: 9px;
}

.gallery__item {
  position: relative;

	&:first-of-type {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: -2;
		width: 110px;
		height: 138px;
	}

	&:nth-of-type(2) {
		grid-column-start: 2;
		grid-column-end: -1;
		grid-row-start: 1;
		grid-row-end: 1;
		width: 141px;
		height: 70px;
	}

	&:nth-of-type(3) {
		grid-column-start: 2;
		grid-column-end: -1;
		grid-row-start: 1;
		grid-row-end: 1;
		justify-self: end;
		width: 51px;
		height: 70px;
	}

	&:nth-of-type(4) {
		grid-column-start: 2;
		grid-column-end: -1;
		grid-row-start: 2;
		grid-row-end: 2;
		width: 90px;
		height: 70px;
	}

	&:nth-of-type(5) {
		grid-column-start: 2;
		grid-column-end: -1;
		grid-row-start: 2;
		grid-row-end: 2;
		justify-self: end;
		width: 100px;
		height: 70px;
	}

	&:nth-of-type(6) {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: -1;
		align-self: end;
		width: 110px;
		height: 75px;
	}

	&:nth-of-type(7) {
		grid-column-start: 2;
		grid-column-end: -1;
		grid-row-start: 3;
		grid-row-end: -1;
		align-self: end;
		width: 201px;
		height: 67px;
	}
}

.gallery__link {
	@include link-style;
	background-color: #413d3d;
}

.gallery__social-block {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 34px;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(43, 45, 92, 0.6);
}

.gallery__social-block .social-block__list {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: -1;
	align-self: end;
	margin-bottom: 10px;
}

.gallery__social-block .social-block__link {
	width: 14px;
	height: 14px;
}

.gallery__social-block svg {
	width: 14px;
	height: 14px;
	fill: #ffcc00;
	opacity: 1;
}

.gallery__social-block-share {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	justify-self: center;
	align-self: end;
}

.gallery__social-block-share svg {
	width: 10px;
	height: 10px;
	fill: $white;
}

.gallery__big-picture {
	display: none;
}

.gallery__big-picture--shown {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.gallery__social-block {
	display: none;
}

@media (min-width: 768px) {
	.gallery__list {
		grid-template-columns: 175px 316px;
		grid-template-rows: 110px 110px 105px;
		grid-column-gap: 11px;
		grid-row-gap: 11px;
	}

	.gallery__item {

		&:first-of-type {
			width: 175px;
			height: 219px;
		}

		&:nth-of-type(2) {
			width: 223px;
			height: 110px;
		}

		&:nth-of-type(3) {
			width: 80px;
			height: 110px;
		}

		&:nth-of-type(4) {
			width: 141px;
			height: 110px;
		}

		&:nth-of-type(5) {
			width: 158px;
			height: 110px;
		}

		&:nth-of-type(6) {
			width: 175px;
			height: 119px
		}

		&:nth-of-type(7) {
			width: 316px;
			height: 105px;
		}
	}

	.gallery__social-block::before {
		@include element-style(76px, 1px, $white);
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.gallery__social-block::after {
		@include element-style(1px, 76px, $yellow);
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.gallery__social-block {
		grid-template-rows: auto 51px;
	}

	.gallery__social-block .social-block__list {
		margin-bottom: 25px;
	}

	.gallery__social-block .social-block__link {
		width: 23px;
		height: 23px;
	}

	.gallery__social-block svg {
		width: 23px;
		height: 23px;
	}

	.gallery__social-block-share {
		margin-bottom: 5px;
	}

	.gallery__social-block-share svg {
		width: 15px;
		height: 15px;
	}
}

@media (min-width: 1600px) {
	.gallery {
		grid-column-start: -1;
		grid-column-end: -1;
	}

  .gallery__list {
  	grid-template-columns: 370px 670px;
  	grid-template-rows: 233px 233px 221px;
  	grid-gap: 29px;
  }

  .gallery__item {

		&:first-of-type {
			width: 370px;
			height: 464px;
		}

		&:nth-of-type(2) {
			width: 471px;
			height: 233px;
		}

		&:nth-of-type(3) {
			width: 171px;
			height: 233px;
		}

		&:nth-of-type(4) {
			width: 300px;
			height: 233px;
		}

		&:nth-of-type(5) {
			width: 335px;
			height: 233px;
		}

		&:nth-of-type(6) {
			width: 370px;
			height: 252px;
		}

		&:nth-of-type(7) {
			width: 670px;
			height: 221px;
		}
	}

	.gallery__item:hover .gallery__social-block {
		display: grid;
	}
}
