.main-header {
	position: relative;
	padding: 15px 30px;
	color: $white;
	background-color: $background-decor;
	background-image: url("../img/background-header-320.jpg");
	background-repeat: no-repeat;
	background-size: 370px 275px;
	background-position: 0 0;
}

.main-header__block-wrap {
	display: grid;
	grid-template-columns: auto auto;
	align-items: baseline;
	justify-content: space-between;
}

.main-header__logo {
	align-self: end;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.main-header__logo p {
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	text-transform: uppercase;
}

.main-header__logo svg {
	margin-right: 6px;
	width: 16px;
	height: 16px;
	fill: $white;
}

.main-header__title {
	display: none;
	margin-top: 60px;
	margin-bottom: 15px;
	opacity: 0.8;
}

.main-header__title--mobile {
	display: block;
}

.main-header__greeting {
	display: none;
	@include font-base(16px, 22px);
	color: $white;
	margin-bottom: 35px;
	font-weight: 400;
	letter-spacing: 0.1px;
	opacity: 0.6;
}

.main-header__greeting--mobile {
	display: block;
}

.main-header__social-block {
	position: relative;
	display: grid;
	margin-left: auto;

	&::before {
		@include element-style(380px, 1px, $white);
		top: -25px;
		right: -100px;
	}

	&::after {
		@include element-style(1px, 181px, $white);
		bottom: -33px;
		right: 180px;
	}
}

.main-header__social-block .social-block__list {
	justify-content: flex-end;
}

.main-header__btn {
	margin-bottom: 15px;
  text-transform: capitalize;
}

@media (min-width: 768px) {
	.main-header {
		padding: 20px 50px;
		padding-bottom: 40px;
	  background-image: url("../img/background-header-768.jpg");
	  background-size: 800px 400px;
  }

  .main-header__title {
  	display: block;
  }

  .main-header__title--mobile {
  	display: none;
  }

  .main-header__greeting {
  	margin-bottom: 50px;
  }
}

@media (min-width: 1000px) {
	.main-header {
		padding: 40px 60px;
		padding-left: 100px;
		background-image: url("../img/background-header-1000.jpg");
		background-size: 1024px 573px;
	}

	.main-header__logo p {
		font-size: 20px;
		line-height: 32px;
		font-weight: 700;
	}

	.main-header__logo svg {
		margin-right: 9px;
		width: 26px;
		height: 26px;
	}

	.main-header__title {
		margin-top: 120px;
		margin-bottom: 25px;
		opacity: 1;
	}

	.main-header__greeting {
		display: block;
		opacity: 1;
	}

	.main-header__greeting--mobile {
		display: none;
	}

	.main-header__btn {
		margin-bottom: 60px;
	}
}

@media (min-width: 1600px) {
	.main-header {
		padding-top: 58px;
		padding-left: 216px;
		padding-right: 100px;
		padding-bottom: 33px;
		background-image: url("../img/background-header-1600.jpg");
		background-size: 1772px 907px;
		background-position: 0 -7px;
	}

	.main-header__title {
		margin-top: 258px;
		margin-bottom: 15px;
	}

	.main-header__greeting {
		margin-bottom: 43px;
		@include font-base(20px, 32px);
		color: $white;
		font-weight: 400;
		letter-spacing: 0.1px;
	}

	.main-header__btn {
		margin-bottom: 196px;
		font-size: 16px;
	}
}
