.main-nav__toggler {
	position: relative;
	width: 30px;
	height: 14px;
}

.main-nav__toggler-element {
	display: block;
	width: 30px;
	height: 2px;
	background-color: $white;

	&::before {
		@include element-style(30px, 2px, $white);
		top: 6px;
		left: 0;
	}

	&::after {
		@include element-style(30px, 2px, $white);
		top: 12px;
		left: 0;
	}
}

.main-nav__toggler--close {
	position: absolute;
	right: 25px;
	top: 40px;
	z-index: 20;
}

.main-nav__toggler--close .main-nav__toggler-element {

  transform: rotate(45deg);

  &::before {
  	top: 0;
  	transform: rotate(-90deg);
  }

  &::after {
  	display: none;
  }
}

.main-nav__list {
	display: none;
}

.main-nav__list--shown {
	@include list-style;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: grid;
	justify-content: space-around;
	padding-top: 50px;
	padding-bottom: 60px;
	background-color: $background-decor;
	z-index: 10;
}

.main-nav__item {
	justify-self: center;
	margin-bottom: 8px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.main-nav__link {
	@include link-style;
	padding: 2px 8px;
	font-size: 14px;
	line-height: 32px;
}

.main-nav__link--active {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: 4px;
		left: 0;
		right: 0;
		height: 1px;
		background-color: #ffcc00;
	}
}

@media (min-width: 768px) {
	.main-nav__toggler {
		display: none;
	}

	.main-nav__list {
		@include list-style;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	.main-nav__item {
		margin-bottom: 0;
	}
}

@media (min-width: 1600px) {
	.main-nav {
		margin-left: auto;
		margin-right: 115px;
	}

	.main-nav__list {
		flex-direction: row;
	}

	.main-nav__link {
		font-weight: 400;
	}
}
