.main-header {
	position: relative;
	padding: 15px 30px;
	padding-bottom: 20px;
	color: $white;
	background-color: $background-decor;
	background-image: url("../img/background-header-320.jpg");
	background-repeat: no-repeat;
	background-size: 370px 275px;
	background-position: 0 0;
}

.main-header__decor-left-coner {
	position: absolute;
	left: 0;
	bottom: 0;
  width: 0;
  height: 0;
}

.main-header__decor-right-coner {
  position: absolute;
	right: 0;
	bottom: 0;
  width: 0;
  height: 0;
}

.main-header__block-wrap {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: space-between;
}

.main-header__logo {
	align-self: end;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.main-header__logo p {
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	text-transform: uppercase;
}

.main-header__logo svg {
	margin-right: 6px;
	width: 16px;
	height: 16px;
	fill: $white;
}

.main-header__title {
	display: none;
	margin-top: 60px;
	margin-bottom: 15px;
	opacity: 0.8;
}

.main-header__title--mobile {
	display: block;
}

.main-header__greeting {
	display: none;
	@include font-base(16px, 22px);
	color: $white;
	margin-bottom: 20px;
	font-weight: 400;
	letter-spacing: 0.1px;
	opacity: 0.6;
}

.main-header__greeting--mobile {
	display: block;
}

.main-header__social-block {
	position: relative;
	display: grid;
	margin-left: auto;
}

.main-header__social-block .social-block__list {
	justify-content: flex-end;
}

.main-header__btn {
	margin-bottom: 35px;
  text-transform: capitalize;
}

.main-header__handler {
	display: none;
}

@media (min-width: 768px) {
	.main-header {
		padding: 20px 50px;
		padding-bottom: 20px;
	  background-image: url("../img/background-header-768.jpg");
	  background-size: 800px 400px;
  }

  .main-header__decor-left-coner {
	  display: grid;
	  grid-template-columns: auto auto;
	  grid-template-rows: auto auto;
	  align-content: flex-end;
	  justify-content: flex-start;
	  width: 100px;
	  height: 100px;
	}

	.main-header__decor-left-coner span {
		display: block;
		background-color: $white;

		&:first-of-type {
			grid-column-start: 1;
			grid-column-end: 1;
			grid-row-start: 1;
			grid-row-end: 1;
			width: 40px;
			height: 50px;
			opacity: 0.1;
		}

		&:nth-of-type(2) {
			grid-column-start: 1;
			grid-column-end: 1;
			grid-row-start: 2;
			grid-row-end: 2;
			width: 50px;
			height: 50px;
			opacity: 0.4;
		}

		&:nth-of-type(3) {
			grid-column-start: 2;
			grid-column-end: -1;
			grid-row-start: 2;
			grid-row-end: 2;
			align-self: end;
			width: 50px;
			height: 36px;
			opacity: 0.2;
		}
	}

	.main-header__block-wrap {
		align-items: baseline;
	}

  .main-header__title {
  	display: block;
  }

  .main-header__title--mobile {
  	display: none;
  }

  .main-header__greeting {
  	margin-bottom: 25px;
  }

  .main-header__social-block {

	  &::before {
			@include element-style(230px, 1px, $white);
			top: -17px;
			right: -50px;
		}

		&::after {
			@include element-style(1px, 100px, $white);
			bottom: -25px;
			right: 110px;
		}
	}

	.main-header__btn {
		margin-bottom: 60px;
		width: 130px;
	}
}

@media (min-width: 1000px) {
	.main-header {
		padding: 40px 60px;
		padding-bottom: 30px;
		padding-left: 100px;
		background-image: url("../img/background-header-1000.jpg");
		background-size: 1024px 573px;
	}

	.main-header__decor--left-coner span {

		&:first-of-type {
			width: 49px;
			height: 60px;
		}

		&:nth-of-type(2) {
			width: 60px;
			height: 60px;
		}

		&:nth-of-type(3) {
			width: 60px;
			height: 36px;
		}
	}

	.main-header__logo p {
		font-size: 20px;
		line-height: 32px;
		font-weight: 700;
	}

	.main-header__logo svg {
		margin-right: 9px;
		width: 26px;
		height: 26px;
	}

	.main-header__title {
		margin-top: 120px;
		margin-bottom: 25px;
		opacity: 1;
	}

	.main-header__greeting {
		display: block;
		opacity: 1;
	}

	.main-header__greeting--mobile {
		display: none;
	}

	.main-header__btn {
		margin-bottom: 80px;
		width: 160px;
	}

 .main-header__social-block {

	  &::before {
			@include element-style(300px, 1px, $white);
			top: -20px;
			right: -60px;
		}

		&::after {
			@include element-style(1px, 111px, $white);
			bottom: -30px;
			right: 140px;
		}
	}

	.main-header__handler {
		position: absolute;
		display: block;
		bottom: 40px;
		left: 50%;
		margin: 0;
		padding: 0;
		width: 30px;
		height: 26px;
		background-color: transparent;
		transform: translate(-50%);
		border: none;

		&::before {
			@include element-style(20px, 20px, transparent);
			left: 40%;
			bottom: -4px;
			border: 1px solid $white;
			border-top: none;
			border-left: none;
			transform: rotate(45deg) translate(-50%);
		}

		&::after {
			@include element-style(20px, 20px, transparent);
			left: 40%;
			bottom: 4px;
			border: 1px solid $yellow;
			border-top: none;
			border-left: none;
			transform: rotate(45deg) translate(-50%);
		}
	}
}

@media (min-width: 1600px) {
	.main-header {
		padding-top: 58px;
		padding-left: 216px;
		padding-right: 100px;
		padding-bottom: 33px;
		background-image: url("../img/background-header-1600.jpg");
		background-size: 1772px 907px;
		background-position: 0 -7px;

		&::before {
			@include element-style(124px, 1px, $white);
			top: 208px;
			left: 214px;
		}

		&::after {
			@include element-style(1px, 124px, $white);
			top: 146px;
			left: 274px;
		}
	}

	.main-header__decor-left-coner span {

		&:first-of-type {
			width: 69px;
			height: 80px;
		}

		&:nth-of-type(2) {
			width: 80px;
			height: 80px;
		}

		&:nth-of-type(3) {
			width: 80px;
			height: 56px;
		}
	}

	.main-header__decor-right-coner {
	  display: grid;
	  grid-template-columns: auto auto;
	  grid-template-rows: auto auto;
	  align-content: flex-end;
	  justify-content: flex-end;
	  width: 137px;
	}

	.main-header__decor-right-coner span {
		display: block;
		background-color: $white;

		&:first-of-type {
			grid-column-start: 1;
			grid-column-end: 1;
			grid-row-start: 2;
			grid-row-end: -1;
			align-self: end;
			width: 80px;
			height: 60px;
			opacity: 0.1;
		}

		&:nth-of-type(2) {
			grid-column-start: 2;
			grid-column-end: -1;
			grid-row-start: 2;
			grid-row-end: 2;
			width: 73px;
			height: 78px;
			opacity: 0.2;
		}

		&:nth-of-type(3) {
			grid-column-start: 2;
			grid-column-end: -1;
			grid-row-start: 1;
			grid-row-end: 1;
			align-self: end;
			justify-self: end;
			width: 64px;
			height: 78px;
			opacity: 0.1;
		}
	}

	.main-header__title {
		margin-top: 258px;
		margin-bottom: 15px;
	}

	.main-header__greeting {
		margin-bottom: 43px;
		@include font-base(20px, 32px);
		color: $white;
		font-weight: 400;
		letter-spacing: 0.1px;
	}

	.main-header__btn {
		margin-bottom: 196px;
		width: 220px;
		font-size: 16px;
	}

	.main-header__social-block {

	  &::before {
			@include element-style(380px, 1px, $white);
			top: -25px;
			right: -100px;
		}

		&::after {
			@include element-style(1px, 181px, $white);
			bottom: -33px;
			right: 180px;
		}
	}

	.main-header__handler {
		bottom: 60px;
	}
}
