.main-footer {
	position: relative;
	display: grid;
	grid-row-gap: 20px;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 20px;
	color: $white;
	background-color: $background-decor;

	&::before {
		@include element-style(100%, 1px, rgba(255, 255, 255, 0.1));
		left: 0;
		bottom: 50px;
	}
}

.main-footer__logo {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.main-footer__logo svg {
	margin-right: 4px;
	width: 20px;
	height: 20px;
	fill: $white;
}

.main-footer__logo p {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	text-transform: uppercase;
}

.main-footer__contact-title {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

.main-footer__social-block {
	margin-top: 20px;
}

.main-footer__contact-title--social {
	margin-bottom: 10px;
	line-height: 22px;
}

.main-footer__copyright {
	justify-self: center;
	opacity: 0.25;
}

@media (min-width: 768px) {
	.main-footer {
    grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		justify-content: space-between;
		padding-left: 100px;
		padding-right: 100px;
	}

	.main-footer__logo {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 1;
		align-self: start;
		margin-bottom: 19px;
	}

	.main-footer__contact {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 1;
		align-self: end;
	}

	.main-footer__copyright {
		grid-column-start: 1;
		grid-column-end: -1;
		grid-row-start: 2;
		grid-row-end: -1;
		margin-top: 24px;
	}
}

@media (min-width: 1000px) {
	.main-footer {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }

	.main-footer__blog-preview {
		display: block;
		grid-column-start: 2;
		grid-column-end: -2;
		grid-row-start: 1;
		grid-row-end: 1;
	}
}

@media (min-width: 1600px) {
	.main-footer {
		grid-template-columns: auto auto auto auto;
		grid-template-rows: 35px auto auto;
		grid-row-gap: 0;
		grid-column-gap: 0;
		justify-content: space-between;
		padding-top: 90px;
		padding-left: 215px;
		padding-right: 215px;

		&::before {
			bottom: 65px;
		}
	}

	.main-footer__logo {
		margin-bottom: 0;
	}

	.main-footer__logo svg {
		margin-right: 9px;
		width: 26px;
		height: 26px;
	}

	.main-footer__logo p {
		font-size: 20px;
		line-height: 32px;
	}

	.main-footer__contact {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: -2;
		align-self: start;
		margin-top: 18px;
	}

	.main-footer__contact-title {
		margin-bottom: 3px;
		font-size: 20px;
		font-weight: 400;
		line-height: 38px;
	}

	.main-footer__contact-text {
		font-size: 14px;
		line-height: 22px;
	}

	.main-footer__contact-email {
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.1px;
	}

	.main-footer__social-block {
		margin-top: 32px;
	}

	.main-footer__social-block .social-block__item {
		margin-left: 0;
		margin-right: 13px;
	}

	.main-footer__social-block .social-block__link {
		width: 18px;
		height: 18px;
	}

	.main-footer__social-block .social-block__link svg {
		width: 18px;
		height: 18px;
	}

	.main-footer__blog-preview {
		grid-column-start: 2;
		grid-column-end: -3;
		grid-row-start: 1;
		grid-row-end: -2;
	}

	.main-footer__copyright {
		grid-column-start: 1;
		grid-column-end: -1;
		grid-row-start: 3;
		grid-row-end: -1;
		margin-top: 44px;
		font-size: 14px;
	}
}
